.footer {
  grid-area: footer;
  display: grid;
  row-gap: 1.5rem;
  @extend %background-color-cinza;
  grid-template-areas:
  ". . ."
  ". conteudo-footer ."
  ". . .";
}

.conteudo-footer{
  grid-area: conteudo-footer;
  text-align: center;
}

.conteudo-footer .button{
  @extend %background-color-azul;
  margin: 0.8rem;
  border: 1px solid $cor-azul;
  @include borda-arredondada(5px);
  color: $cor-base;
  min-height: 1.8em;
  min-width: 8em;
  font-size: 1em;
}
