%sobra-padronizada-esq {
  -webkit-box-shadow: -1px 3px rgba(136,136,136, 0.9);
  box-shadow: -1px 3px rgba(136,136,136, 0.9);
}

%sobra-padronizada-form {
  -webkit-box-shadow: 5px 8px rgba(136,136,136, 0.6);
  box-shadow: 5px 8px rgba(136,136,136, 0.6);
}
