.footer {
  grid-area: footer;
  display: grid;
  row-gap: 1.5rem;
  background-color: #333333;
  grid-template-areas:
  "."
  "conteudo-footer"
  ".";
}

.conteudo-footer{
  grid-area: conteudo-footer;
  text-align: center;
}

.conteudo-footer .button{
  background-color: #337ab7;
  margin: 0.8rem;
  border: 1px solid #337ab7;
  border-radius: 5px;
  color: #eaedf2;
  min-height: 1.8em;
  min-width: 8em;
  font-size: 1em;
}
