.section3{
  grid-area: section3;
  display: grid;
  grid-auto-rows: minmax(min-content, min-content);
  grid-template-areas:
      "section3-header"
      "section3-body";
}

.section3-header{
  grid-area: section3-header;
  display: grid;
  grid-template-columns: 14% repeat(1, 12fr) 14%;
  row-gap: 2rem;
  background-color: #337ab7;
  grid-template-areas:
      "."
      "s3-h-conteudo"
      ".";
}

.s3-h-conteudo{
  grid-area: s3-h-conteudo;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  text-align: center;
  font-size: 1.2rem;
}

.section3-body{
  grid-area: section3-body;
  display: grid;
  grid-template-columns: 14% repeat(2, 1fr) 14%;
  grid-template-rows:repeat(1, 0.2fr min-content 0.5fr min-content 0.5fr 0.2fr );
  column-gap: 0.2rem;
  row-gap: 0.5rem;
  color:#878791;
  grid-template-areas:
  ".        .              .        ."
  ".  img-compartilhe     h2       ."
  ".  img-compartilhe    texto     ."
  ".  img-compartilhe   conteudo1  ."
  ".  img-compartilhe   conteudo2  ."
  ".        .              .        .";
}

.section3-body .img-section{
  grid-area: img-compartilhe;
  text-align: center;
}

.section3-body h2{
  grid-area: h2;
}

.section3-body p{
  grid-area: texto;
}

.section3 .para {
  grid-area: paragrafo;
}

@media (max-width: 768px) {
  .section3-header{
      grid-template-columns: 3% repeat(1,1fr) 3%;
  }

  .section3-body{
    grid-template-columns: 3% repeat(1, 1fr) 3%;
    grid-template-rows:repeat(1, 0.1fr 0.5fr min-content 0.2fr min-content 0.2fr 0.1fr );
    grid-template-areas:
    ".         .           ."
    ".   img-compartilhe   ."
    ".        h2           ."
    ".      texto          ."
    ".    conteudo1        ."
    ".    conteudo2        ."
    ".        .            .";
  }
}
