
.section1{
  grid-area: section1;
  display: grid;
  grid-auto-rows: minmax(min-content, min-content);
  grid-template-areas:
      "section1-header"
      "section1-body";
}

.section1-header{
  grid-area: section1-header;
  display: grid;
  grid-template-columns: 14% repeat(1, 1fr) 14%;
  row-gap: 2rem;
  background-color: #333333;
  grid-template-areas:
      ". . ."
      ". s1-h-conteudo ."
      ". . .";
}

.s1-h-conteudo{
  grid-area: s1-h-conteudo;
  text-align: center;
  align-self: center;
  font-size: 1.2rem;
}

.section1-body{
  grid-area: section1-body;
  display: grid;
  grid-template-columns: 14% repeat(2, 1fr) 14%;
  grid-template-rows:repeat(1, 0.2fr min-content 0.5fr min-content 0.5fr 0.2fr );
  column-gap: 0.2rem;
  column-gap: 0.5rem;
  color:#878791;
  grid-template-areas:
  ".        .         .        ."
  ".  img-explore     h2       ."
  ".  img-explore    texto     ."
  ".  img-explore   conteudo1  ."
  ".  img-explore   conteudo2  ."
  ".        .          .       .";
}

.section1-body .img-section{
  grid-area: img-explore;
  text-align: center;
}

.section1-body h2{
  grid-area: h2;
}

.section1-body p{
  grid-area: texto;
}

.section1 .para {
  grid-area: paragrafo;
}
